<div class="container main-container">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Buscar:</label>
        <input
          [(ngModel)]="buscar"
          name="buscar"
          (keyup.enter)="buscarPelicula()"
          class="form-control"
          type="text"
          placeholder="Buscar una película">
      </div>
    </div>
  </div>

  <!-- // cards -->
  <div class="row">
    <div class="card-columns">
      <div class="card" *ngFor="let pelicula of ps.peliculas">
        <img class="card-img-top img-fluid" src="..." alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title that wraps to a new line</h4>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div> <!-- // end .card-columns -->
  </div><!-- // end row -->

</div>
