<!-- // galeria.component.html -->
<br>
<h3> {{ titulo }} </h3>
<hr>

<div class="row animated fadeIn fast" *ngIf="peliculas">
  <div class="col-sm-6">
    <div class="row">
      <div
        [routerLink]="[ '/pelicula', peliculas[0].id, 'home' ]"
        [ngStyle]="{ 'background-image': 'url(' + ( peliculas[0] | peliculaImagen ) + ')' }"
        class="col-md-12 div-pic-1 puntero">
      </div>
    </div> <!-- end .row -->
    <div class="row">
      <div
        [routerLink]="[ '/pelicula', peliculas[1].id, 'home' ]"
        [ngStyle]="{ 'background-image': 'url(' + ( peliculas[1] | peliculaImagen ) + ')' }"
        class="col-sm-6 div-pic-2 puntero">
      </div>
      <div
        [routerLink]="[ '/pelicula', peliculas[2].id, 'home' ]"
        [ngStyle]="{ 'background-image': 'url(' + ( peliculas[2] | peliculaImagen ) + ')' }"
        class="col-sm-6 div-pic-2 puntero">
      </div>
    </div> <!--// end. row -->
  </div> <!-- // end .col-sm-6 -->

  <div class="col-sm-6">
    <div class="row">
      <div
        [routerLink]="[ '/pelicula', peliculas[3].id, 'home' ]"
        [ngStyle]="{ 'background-image': 'url(' + ( peliculas[3] | peliculaImagen ) + ')' }"
        class="col-sm-6 div-pic-2 puntero">
      </div>
      <div
        [routerLink]="[ '/pelicula', peliculas[4].id, 'home' ]"
        [ngStyle]="{ 'background-image': 'url(' + ( peliculas[4] | peliculaImagen ) + ')' }"
        class="col-sm-6 div-pic-2 puntero">
      </div>
    </div> <!--// end. row -->
    <div class="row">
      <div
        [routerLink]="[ '/pelicula', peliculas[5].id, 'home' ]"
        [ngStyle]="{ 'background-image': 'url(' + ( peliculas[5] | peliculaImagen ) + ')' }"
        class="col-md-12 div-pic-1 puntero">
      </div>
    </div> <!-- end .row -->
  </div> <!-- // end .col-sm-6 -->

</div> <!--// end. row -->

<!-- // end galeria.component.html -->
